.headerWarp{
	width: 100%;
	height: 50px;
	background-color: #080808;
	border-bottom: 1px solid #212121;
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;

}

.header{
	width: 1140px;
	height: 50px;
	margin: auto;
	color: #444444;
	padding: 0 15px;
	line-height: 50px;
	font-size: 14px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
.headerLeft{
	display: flex;
}
.huav{
	width: 72px;
	padding-left: 15px;
	box-sizing: border-box;
}
.huav:hover{
	color: white;
}
.headerLeft>ul{
	height: 50px;	
	width: 150px;
	display: flex;
	justify-content: space-around;
}
.headerLeft>ul>li{
	width: 33.3%;
	text-align: center;

}
.headerLeft>ul>li>a{
	color: #444;
	text-decoration: none;
	display: block;
}
.headerLeft>ul>li>a:hover{
	background-color: #444444;
	color: white;
}
.icon-sousuosearch82{
	font-size: 20px;
}
.login{
	width: 60px;
	text-align: center;
	position: relative;
	color: #353535;
}
.login:after{
    content: '';
    border: 8px solid #080808;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid transparent;
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 21px;
    right: 4px;
}
.login:hover:after{
	color: white;

}

.login:hover{
	color: white;
	background-color: #444444;
}
.active{
	color: white !important;
	text-decoration: none;
	display: block;
	background-color: #444444;
	color: white;
}


.headerLeft .input input{
	width: 190px;
	height: 27px;
	border: none;
	padding: 0 10px;
	box-sizing: border-box;
}
.headerLeft .input button{
	width: 30px;
	height: 27px;
	background-color: #2895dd;
	border: none;
}